__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Database
*.db
*.sqlite3

# Env
.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
.dockerignore

# Alembic
alembic/versions/*.py

# Firebase credentials
*.json
